h1, h2, h3, h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 4rem;
    background-color: rgba(256, 256, 256, 0.55);
    border-radius: 15px;
    max-width: 650px;
    margin: 0 auto;
}

header {
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(../images/city-bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.card {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.33) 0px 3px 8px;
}

.button {
    border-radius: 5px;
}

.accordion-content button {
    display: none;
    width: 100%;
    padding: 15px;
}

.reveal {
    background-color: lightgrey;
}

.reveal a {
    color: white;
}

.hidden-button {
    display: none;
}

footer {
    text-align: center;
    background-color:rgba(176, 214, 245, 0.6);
}